body{font-size:14px;}
.center{width: 274px; padding:40px;}
.center{background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}
.title{font-weight:bold; font-size:20px; height:83px; line-height:83px;}
.type-button{padding-top:30px;}
.type-button input{box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 1;
    font-family: Arial,sans-serif;
    font-size: 13px;
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(center top , #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-size:16px;
}
.center tr{height:25px;}
fieldset{width:247px;}
.textfield{width:234px;}
.choose div{float:left; margin:0 auto; width:88px; margin-right:2px; background:#ddd; height:30px; line-height:30px;}
.choose div:hover{background:#444; color:#fff; cursor:pointer;}
.choose .selected{background:#444; color:#fff;}
.choose{float:left;}
.choose-block{width:270px; margin:0 auto; margin-bottom:50px}
.info_msg{color:#f00;}
body{font-family: "Microsoft Yahei" !important;}
.google_textfield{
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 36px;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    width:274px;
}
.google_email{
    margin-bottom:0;
}
.yform{
    width:274px;
}
.captcha{width:110px; display:inline-block;}
.div-captcha img{float:right;}
.type-button{padding-top: 0;}
table{border-spacing: 0;}
h1{color:#555; font-family: "Microsoft Yahei"; margin-bottom:15px; font-weight: normal !important; font-size: 38px !important;}
h2{color:#555; font-family: "Microsoft Yahei"; margin-bottom:15px; font-weight: normal !important; font-size: 18px !important;}
